.root {
    -fx-background-color: #232323;
}
.label {
    -fx-text-fill: #717171;
}
.text-field {
    -fx-background-color: #D1D1D1;
    -fx-text-fill: #232323;
    -fx-prompt-text-fill: #858585;
}
.button {
    -fx-text-fill: #232323;
    -fx-background-color: #1A3A70;
}
.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #173466;
}
.button:disabled {
    -fx-opacity: 1.0;
}
.my_buttons {
    -fx-background-color: #106310;
}
.not_my_buttons {
    -fx-background-color: #7F1010;
}
.my_buttons, .not_my_buttons {
    -fx-font-size: 3em;
}
#joinButton {
    -fx-background-color: #339933;
}
#joinButton:hover {
    -fx-background-color: #007F00;
}
#exitButton {
    -fx-background-color: #993333;
}
#exitButton:hover {
    -fx-background-color: #7F0000;
}
.whoseTurn {
    -fx-font-size: 1.8em;
}
.you {
    -fx-text-fill: #106310;
}
.opponent {
    -fx-text-fill: #7F1010;
}
.you, .opponent {
    -fx-font-size: 1.4em;
}
.wait_text {
    -fx-font-size: 1.0em;
}
